In [4]:
import duckdb
import pandas as pd

In [10]:
sql_query = '''
SELECT * FROM parking_violation_codes ;
'''

with duckdb.connect('data/nyc_parking_violations.db') as conn:
    display(conn.sql(sql_query).df())

,code,definition,manhattan_96th_st_below,all_other_areas
0,1,FAILURE TO DISPLAY BUS PERMIT,515,515
1,2,NO OPERATOR NAM/ADD/PH DISPLAY,515,515
2,3,UNAUTHORIZED PASSENGER PICK-UP,515,515
3,4,BUS PARKING IN LOWER MANHATTAN,115,115
4,5,BUS LANE VIOLATION,250,250
...,...,...,...,...
92,93,REMOVE/REPLACE FLAT TIRE,65,65
93,96,RAILROAD CROSSING,95,95
94,97,VACANT LOT,65,45
95,98,OBSTRUCTING DRIVEWAY,95,95
96,99,OTHER,105,105

In [7]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE parking_violation_codes AS 
SELECT * 
FROM read_csv_auto('data/dof_parking_violation_codes.csv',
normalize_names=TRUE)
'''

sql_query_import_2 = ''' 
CREATE OR REPLACE TABLE parking_violations_2023 AS
SELECT * FROM read_csv_auto(
'data/parking_violations_issued_fiscal_year_2023_sample.csv',
normalize_names=TRUE)
'''

with duckdb.connect('data/nyc_parking_violations.db') as conn:
    conn.sql(sql_query_import_1)
    conn.sql(sql_query_import_2)